/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* https://opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
##################################################
- Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* Grid
################################################## */

.container {
  width: 75%;
}
/*whatever you want - can even be fixed if you prefer*/

.column,
.columns {
  margin-left: .78125%;
  margin-right: .78125%;
}

/* Nested Column Classes */
.column.alpha, .columns.alpha {
    margin-left: 0;
}

.column.omega, .columns.omega {
    margin-right: 0;
}

/* Base Grid */
.container .one.column,
.container .one.columns {
    width: 4.6875%;
}

.container .two.columns {
    width: 10.9375%;
}

.container .three.columns {
    width: 17.1875%;
}

.container .four.columns {
    width: 23.4375%;
}

.container .five.columns {
    width: 29.6875%;
}

.container .six.columns {
    width: 35.9375%;
}

.container .seven.columns {
    width: 42.1875%;
}

.container .eight.columns {
    width: 48.4375%;
}

.container .ten.columns {
    width: 60.9375%;
}

.container .one-third.column {
    width: 31.7708%;
}

/* Offsets */
.container .offset-by-one {
    padding-left: 6.25%;
}

.container .offset-by-two {
    padding-left: 12.5%;
}

.container .offset-by-three {
    padding-left: 18.75%;
}

.container .offset-by-four {
    padding-left: 25%;
}

.container .offset-by-six {
    padding-left: 37.5%;
}


/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }

    .container .column,
    .container .columns {
        margin-left: 10px;
        margin-right: 10px;
    }

    .column.alpha, .columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }

    .column.omega, .columns.omega {
        margin-right: 0;
        margin-left: 10px;
    }

    .alpha.omega {
        margin-left: 0;
        margin-right: 0;
    }

    .container .one.column,
    .container .one.columns {
        width: 28px;
    }

    .container .two.columns {
        width: 76px;
    }

    .container .three.columns {
        width: 124px;
    }

    .container .four.columns {
        width: 172px;
    }

    .container .five.columns {
        width: 220px;
    }

    .container .six.columns {
        width: 268px;
    }

    .container .seven.columns {
        width: 316px;
    }

    .container .eight.columns {
        width: 364px;
    }

    .container .ten.columns {
        width: 460px;
    }

    .container .one-third.column {
        width: 236px;
    }

    /* Offsets */
    .container .offset-by-one {
        padding-left: 48px;
    }

    .container .offset-by-two {
        padding-left: 96px;
    }

    .container .offset-by-three {
        padding-left: 144px;
    }

    .container .offset-by-four {
        padding-left: 192px;
    }

    .container .offset-by-six {
        padding-left: 288px;
    }
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }

    .container .columns,
    .container .column {
        margin: 0;
    }

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .ten.columns,
    .container .one-third.column {
        width: 300px;
    }

    /* Offsets */
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-six {
        padding-left: 0;
    }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 420px;
    }

    .container .columns,
    .container .column {
        margin: 0;
    }

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .ten.columns,
    .container .one-third.column {
        width: 420px;
    }
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
