---
layout: base
---
<title> {{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ page.description|e }}"/>

<!-- Back to blog index
================================================================== -->
<div class="back-to">
    <a href="/blog">← Back to Blog</a>
</div>
<hr class="small"/>

{% if site.embed_social_metadata.facebook %}
	<!-- Facebook Open Graph
  ================================================== -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.url }}/{{ page.url }}">
  <meta property="og:description" content="{{ page.description|e }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{{ site.url }}{{ site.logo }}">
{% endif %}

{% if site.embed_social_metadata.twitter %}
  <!-- Twitter Cards
  ================================================== -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.footer_links.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.footer_links.twitter_username }}">
  <meta name="twitter:image" content="{{ site.url }}{{ site.logo }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description|e }}">
{% endif %}

<div>

  <!-- Article Headers
  ================================================================== -->
  <h1 class="article-title"><a href="/{{ page.url }}" title="Permalink to {{ page.title }}">{{page.title}}</a></h1>
  <h5 class="article-date">{{ page.date| date: "%B %d, %Y" }}
    {% if page.tags %} | Tags: {% for tag in page.tags %}
        <a class="tag" href="/{{ tag.url }}" rel="tag" title="Posts tagged with {{ page.tag }}">{{ tag }}</a>
      {% endfor %}
    {% endif %}
  </h5>
  <hr class="small"/>

  <!-- Article Content
  ================================================================== -->
  <div class="article-content">
    {{ page.content }}
      {% include disqus.html %}
  </div>

  <hr class="small"/>
  <div class="article-sharing">
      <ul>
      {% if site.embed_social_metadata.twitter %}
      <!-- Twitter Sharing
      ================================================================== -->
      <li>
          <a href="https://twitter.com/share"
             class="twitter-share-button"
             data-via="{{ site.footer_links.twitter_username }}">Tweet</a>
      </li>
      {% endif %}

      {% if site.embed_social_metadata.facebook %}
      <!-- Facebook Sharing
      ================================================================== -->
      <li><div class="fb-share-button"
          data-href="{{ site.url }}/{{ page.url }}"
          data-layout="button_count">
      </div></li>
      {% endif %}

      {% if site.embed_social_metadata.hacker_news %}
      <!-- Hacker NewsSharing
      ================================================================== -->
      <li>
          <a href="https://news.ycombinator.com/submit"
             class="hn-button"
             data-count="horizontal">Vote on Hacker News</a>
      </li>
      {% endif %}
      </ul>
    </div>

    <!-- Back to blog index
    ================================================================== -->
    <div class="back-to">
      <a href="/blog">← Back to Blog</a>
    </div>
    <hr class="small"/>
  </div>
</div>
