---
layout: base
---
<title> {{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ page.description|e }}"/>
<!-- Favicon
================================================== -->
<link rel="shortcut icon" href="../{{ site.favicon }}">

<body>

  {% for article in site.posts %}
    {% if article.status != 'draft' %}
      <h2 class="article-title center">
        <a href="{{ site.url }}{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
      </h2>
      <h5 class="article-date center">{{ article.date | date: "%B %d, %Y" }}</h5>
      <hr class="large">
    {% endif %}
  {% endfor %}

</body>
