---
layout: base
---
<title> {{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ page.description|e }}"/>

<div class="post">

    <header class="post-header">
        <h1 class="post-title">
            <a href="/{{ page.title }}" title="Permalink to {{ page.title }}">{{ page.title }}</a>
        </h1>
    </header>

    {% if site.embed_social_metadata.twitter %}
    <!-- Twitter Cards
    ================================================== -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.footer_links.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.footer_links.twitter_username }}">
    <meta name="twitter:image" content="{{ site.url }}{{ site.logo }}">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.description|e }}">
    {% endif %}

    <div>
        <h1 class="article-title">
            <a href="/{{ page.url }}" title="Permalink to {{ page.title }}">{{page.title}}</a>
        </h1>

        <div class="article-content">
            {{ content }}
        </div>
        <hr class="large">

    </div>
</div>